@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
* { 
	padding: 0;
 	margin: 0; 
 	box-sizing: border-box;
 }
ul li {
	list-style: none;
}
ul li a {
	text-decoration: none;
	color: #fff;
}
header {
	background: url("../img/fondo_header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -150px;
	height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}
header::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #01579b;
	position: absolute;
	z-index: 0;
	opacity: .4;
}
header .logotipo {
	width: 300px;
	position: relative;
	top: 25px;
	left: 50px;
	z-index: 12;
	transition: all ease .3s;
}
.menu {
	width: 100%;
	position: fixed;
	padding-top: 20px;
	padding-right: 40px;
	top: 0px;
	right: 0px;
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	transition: all ease .3s;
}
.menu ul {
 	list-style: none;
  	padding: 0;
  	margin: 0;
  	display: flex;
}
.menu li a {
  	color: white;
 	font-size: 14px;
  	text-transform: uppercase;
  	display: block;
  	text-decoration: none;
  	padding: 1em 1em;
}
.menu .select {
	background: orange;
}
nav li a:hover {
  	background: orange;
  	color: white;
}
.abrir_menu, .cerrar_menu {
	visibility: hidden;
}
/*----MENSAJE PRINCIPAL----*/
.mensaje_principal {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 8;

}
.mensaje_principal p {
	align-self: center;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-size: 40px;
	color: #fff;
}
.mensaje_principal p:nth-child(3) {
	font-size: 20px;
}
.puntuacion_titulo {
	color: orange;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
}
.mensaje_principal p:nth-child(4) {
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;	
	justify-content: center;
}
.mensaje_principal p:nth-child(4) > .fa-angle-down {
	font-size: 100px;
	padding-top: 30px;
	animation: flotar 1.5s infinite;
}
@keyframes flotar {
	0% {
		padding-top: 30px;	
	}
	50% {
		padding-top: 40px;		
	}
	100% {
		padding-top: 30px;
	}
}
/*--- CONTENEDOR_PROYECTOS-----*/
.contenedor_proyectos {
	padding: 40px;
	height: auto;
	background: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.items_contenedor {
	margin: 20px;
	width: 500px;
	/*height: 500px;*/
	display: flex;
	justify-content: center;
}
.items_contenedor img {
	width: 100%;
	height: 100%;
	transition: all ease .5s;
}
.items_contenedor span {
	align-self: center;
	background: orange;
	width: 100px;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	position: absolute;
	z-index: 2;
}
/*---- vista del proyecto al hacer clic -----*/
.contenedor_proyecto {
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.vista_proyecto {
	position: relative;
	align-self: center;
	background: #fff;
	width: 800px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.vista_proyecto .items_vista {
	align-self: center;
	width: 370px;
	height: 350px;
}
.vista_proyecto .info_proyecto {
	color: #6D6A6A;
	display: flex;
	font-family: 'Lora', serif;
	flex-direction: column;
	justify-content: flex-start;
}
.info_proyecto h1 {
	text-transform: uppercase;
	color: #414141;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
}
.info_proyecto h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 15px;
}
.info_proyecto p, ul {
	margin-bottom: 20px;
	font-size: 16px;
}
.info_proyecto ul li {
}
.info_proyecto .colores_usados {
	background: #ccc;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-around;
}
.info_proyecto .colores_usados span {
	align-self: center;
	width: 30px;
	height: 30px;
	background: red;
}
/*--------FOOTER ------*/
footer {
	background: #01579b;
	padding: 20px 0;
}
footer .content_footer {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer .items_content_footer {
	width: 200px;
	padding: 20px;
	color: #fff;
}
footer .items_content_footer h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Lora', serif;
	font-size: 16px;
	color: #FF8000;
}
footer .items_content_footer a {
	font-family: 'Lora', serif;
	font-size: 15px;
	text-decoration: underline;
}
.items_content_footer:nth-child(3) ul {
	display: flex;
	justify-content: space-between;
}
.items_content_footer:nth-child(3) span {
	font-size: 30px;
}

footer .lema {
	text-align: center;
	color: #fff;
	margin-top: 20px;
	font-size: 13px;
	font-family: 'Lora', serif;
}

footer .lema > span {
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 20px;
	color: red;
	opacity: 0.9;
}
/*-------- MEDIAS QUERIES -------*/

@media (max-width: 1000px) {
	header {
		background-position-y: 0px;
		height: 400px;
	}
	header .logotipo {
		z-index: 10;
		width: 250px;
		top: 20px;
		left: 20px;
	}
	.menu { 
		background: #01579b;
		opacity: 0.9;
		width: 100%;
		height: 100%;
		margin-top: 0px;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 10;
		justify-content: center;
		transition: all .4s ease;
		padding: 0;
	}
	.menu.checked {
		left: 0%;
	}	
	.abrir_menu, .cerrar_menu {
		color: #fff;
		font-size: 30px;
		cursor: pointer;
		position: absolute;
		visibility: visible;
		right: 20px;
		top: 20px;
	}
	.abrir_menu {
		padding:20px;
		position: fixed;
		z-index: 9;
		background: orange;
		right: 0px;
		top: 0px;
	}
	.menu ul {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.menu ul li {
		align-self: center;
	}
	.mensaje_principal p {
		font-size: 30px;
	}
}
@media (min-width: 700px) and (max-width: 999px) {
	header {
		background-position-y: -100px;
	}
}
@media (max-width: 700px) {
	.mensaje_principal p {
		font-size: 25px;
	}
	.mensaje_principal p:nth-child(3) {
		font-size: 18px;
	}	
}

@media (max-width: 400px) {
	header .logotipo {
		width: 200px;
		top: 15px;
		left: 10px;
	}
	header .abrir_menu {
		padding: 10px;
	}
	.mensaje_principal p {
		font-size: 20px;
	}
	.mensaje_principal p:nth-child(3) {
		font-size: 15px;
	}	
	.mensaje_principal p:nth-child(4) {
		width: 100px;
		height: 100px;
	}
	.mensaje_principal p:nth-child(4) > .fa-angle-down {
		font-size: 70px;
	}
	.skill p, footer .items_content_footer h3, a {
		font-size: 13px;
	}
	footer .content_footer {
		justify-content: flex-start;
	}
	footer .items_content_footer {
		width: 150px;
	}
	.items_content_footer:nth-child(3) span {
		font-size: 25px;
	}
}

