@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	font-size: 16px;
	--text-color: #1a1a1a;
	--principal-color: #003380;
	--bg-color: #f9f9f9;
}

	/*--Cambio de color al boton a SweetAlert--*/
.swal-button:not([disabled]):hover,
.swal-button:active,
.swal-button {
    background-color: var(--principal-color);
}
.swal-title {
	font-weight: 700;
	color: var(--text-color);
}
.swal-button {
	font-size: 16px;
}
.swal-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.swal-icon {
    width: 50px;
    height: 50px;
}
.swal-icon--info:before {
    width: 5px;
    height: 19px;
    bottom: 10px;
}
.swal-icon--info:after {
    width: 6px;
    height: 5px;
    top: 10px;
}

body {
	background: var(--bg-color);
}
/*--Inicio pagina Index--*/
	/*--Inicio header--*/
.header {
	background:  linear-gradient(to bottom, var(--principal-color), var(--principal-color), transparent);
	position: relative;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100%;
}
.header_v2 {
	background: var(--principal-color);
	padding: 20px 20px;
}
.header_logo {
	width: 100px;
}
.header_nav {
	position: sticky;
	width: 100%;
	top: 0px;
	right: 0px;
	left: 0px;
}
/*.header_nav_bars {
	width: 38px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
}
.header_nav_bars > span {
	width: 100%;
	height: 3px;
	background: #fff;
}
.header_nav_bars > span:nth-child(2) {
	width: 85%;
}*/
.header_nav_ul {
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.header_nav_li {
	width: 50%;
	padding: 5px 0;
	text-align: center;
}
.header_nav_links {
	text-decoration: none;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
}
.header_nav_links:hover {
	text-decoration: underline;
	color: #fff;
}
.header_nav_link-volver {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
.header_nav_link-volver:hover {
	color: #fff;
	text-decoration: underline;
}
	/*--Fin header--*/
	/*--Inicio Main--*/
.main {  }
.main_contenedor {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.foto_perfil {
	background: var(--principal-color);
	height: 80vh;
	display: flex;
	justify-content: center;
	top: 0;
}
.foto_perfil_contenedor {
	display: flex;
    flex-direction: column;
	position: relative;
	padding: 20px;
	margin-top: 130px;
}
.foto_perfil_particulas {
	position: absolute; 
	display: block;
	top: 0;
	left: 0;
	z-index: 3;
}
.particulas_fondo {
	z-index: 0;
}
.particulas_frente {
	z-index: 3;
}
.foto_perfil_texto {
	position: absolute;
	z-index: 4;
	top: -25px;
	left: 0;
	font-size: 40px;
	color: #fff;
	font-weight: 700;
}
.foto_perfil_img {
	width: 200px;
}
.foto_perfil_img > img {
	position: relative;
	width: 100%;
	transform: rotate(-5deg);
	z-index: 3;
}
.foto_perfil_button {
	position: relative;
	z-index: 4;
	border: none;
	background: none;
	margin-top: 20px;
}
.foto_perfil_link {
	position: relative;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-weight: 600;
	padding: 15px 40px;
	background: var(--bg-color);
	color: var(--principal-color);
	border-radius: 125px;
	height: 20px;
	top: 0px;
	opacity: 1;

	animation: aparecer 3s;
	animation: mover_boton 3s infinite alternate;
}
@keyframes aparecer {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}
@keyframes mover_boton {
	from { top: 0px; }
	to { top: 8px; }
}

/*---------------*/
.perfil_info {
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.perfil_info_contenedor {
	padding: 10px;
	margin-top: 30px;
}
.perfil_info_nombre {
	font-size: 60px;
	margin: 0px;
	font-weight: 800;
	color: var(--text-color);
}
.perfil_info_cargo {
	font-size: 23px;
	padding: 5px 10px;
	margin: 5px 0 40px 0;
	font-weight: 400;
	color: #fff;
	background: var(--principal-color);
}
.perfil_info_resumen {
	font-size: 1rem;
	color: var(--text-color);
	line-height: 25px;
}
.perfil_info_redes {
	margin-top: 30px;
}
.perfil_info_redes > p {
	font-weight: 500;
	margin-bottom: 15px;
}
.perfil_info_redes_ul {
	list-style: none;
	display: flex;
}
.perfil_info_redes_ul > li {
	margin-right: 15px;
}
.perfil_info_redes_link > img {
	width: 25px;
	/*color: var(--text-color);*/
	color: red;
}
.perfil_info_footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}
.footer {
	margin-top: 30px;
	width: 100%;
	padding: 10px;
}
.perfil_info_footer > p, 
.footer > p {
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	color: #A0A0A0;	
	text-align: center;
}
	/*--Fin Main--*/
/*--Fin pagina Index--*/
/*--Inicio pagina Portafolio--*/
.portafolio_content {
	padding: 30px 30px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.portafolio {
	max-width: 750px;
	text-align: center;
}
.portafolio_titulo {
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 30px;
}
.portafolio_texto {
	font-size: 18px;
	line-height: calc(18px * 1.6);
	font-weight: 300;
	color: var(--text-color);
	text-align: center;
	margin-bottom: 30px;
}
.portafolio_proyectos {
	margin-top: 40px;
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: 1fr 1fr;
}
.portafolio_content_img {
	width: 170px;
	transition: ease 1s all;
}
.portafolio_link {
	color: var(--text-color);
}
.portafolio_img {
	width: 100%;
}
.portafolio_nombre {
	text-align: center;
	margin-top: 10px;
}
/*--Fin pagina Portafolio--*/

/*--Media Queries--*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	body {
		/*background: red;*/
	}
	.header_v2 {
		background: var(--principal-color);
	}
	.header_nav_ul {
		justify-content: space-around;
	}
	.header_nav_li {
		width: auto;
		padding: 5px 0;
		text-align: center;
	}
	/*--Inicio pagina Portafolio--*/
	.portafolio_proyectos {
		grid-gap: 15px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	/*--Fin pagina Portafolio--*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	body {
		/*background: blue;*/
	}
	.header {
		background: transparent;
		padding: 20px 20px;
	}
	.header_v2 {
		background: var(--principal-color);
	}
	.foto_perfil {
		height: 100vh;
	}
	.perfil_info {
		height: 100vh;
		padding-bottom: 0px;
	}
	.perfil_info_contenedor {
		margin-top: 50px;
	}
	.header_nav_ul {
		justify-content: flex-end;
	}
	.header_nav_li {
		width: auto;
		margin-left: 10px;
		text-align: center;
	}
	.header_nav_links {
		color: var(--text-color);
		font-size: 16px;
		font-weight: 700;
	}
	.header_nav_links:hover {
		text-decoration: underline;
		color: var(--text-color);
	}
	/*--Inicio pagina Portafolio--*/
	.portafolio_proyectos {
		grid-gap: 15px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	/*--Fin pagina Portafolio--*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.foto_perfil_img {
		width: 250px;
	}
	/*--Inicio pagina Portafolio--*/
	.portafolio_proyectos {
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.portafolio_content_img {
		width: 200px;
	}
	/*--Fin pagina Portafolio--*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	body {
		/*background: red;*/
	}
	.foto_perfil_img {
		width: 300px;
	}
	.perfil_info_nombre {
		font-size: 80px;
	}
	.perfil_info_cargo {
		font-size: 30px;
	}
	/*--Inicio pagina Portafolio--*/
	.portafolio_content_img {
		width: 250px;
	}
	/*--Fin pagina Portafolio--*/
}

.card-content {
	margin-top: 80px;
	background: url('../img/perfil.png') no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	padding: 20px;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;

	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(10px);
	border: 0.5px solid rgba(255,255,255,0.1);

}
.card h1 {
	font-size: 20px;
	text-align: center;
}
.card p {
	font-size: 15px;
	text-align: center;
}